@model leta.Application.ViewModels.RouteTimeViewModel

<h4>Adiciona Registros</h4>
<hr />
<div class="row">
    <div class="col-md-3" style="border-right: 1px solid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Adicionar e Editar Dados</h5>
                <form id="addRegistroUnico">
                    <div class="form-group">
                        <label for="HoraDoDia" class="control-label">Hora do dia</label>
                        <input type="datetime-local" name="HoraDoDia" id="HoraDoDia" class="form-control" required />
                        <input type="text" name="id" id="id" hidden />
                    </div>
                    <div class="form-group">
                        <label for="DiaDaSemana" class="control-label">Dia da Semana</label>
                        <input name="DiaDaSemana" id="DiaDaSemana" type="text" disabled class="form-control btn-normal" required />
                    </div>
                    <div class="form-group">
                        <label for="Tempo" class="control-label">Tempo</label>
                        <input name="Tempo" id="Tempo" type="number" min="0" class="form-control" required />
                    </div>
                    <div class="row pt-3">
                        <div class="form-group mr-2">
                            <button type="button" style="float: left;" name="SalvaRegistroUnico" id="SalvaRegistroUnico" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
                            <button type="reset" style="float: right;" value="Limpar" class="btn btn-warning"><i class="fas fa-undo"></i> Limpar</button>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group button-center mr-2">
                            <button type="button" id="Apagar" class="btn btn-danger"><i class="fas fa-trash"></i> Apagar Registro Selecionado</button>
                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group button-center mr-2">
                            <button type="button" id="ApagarTudo" class="btn btn-danger"><i class="fas fa-trash"></i> Apagar todos os registro da base de dados</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3" style="border-right:1px solid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Adicionar DataSet CSV</h5>
                <form id="addArquivo">
                    <div class="form-group">
                        <label for="AddArquivo" class="control-label">Selecione o arquivo a ser carregado</label>
                        <input type="file" accept=".csv" name="Arquivo" class="form-control" required data-toggle="tooltip" title="Necessario que seja um CSV com os campos DataHora e Tempo, os separadores podem ser ; ou ,"/>
                    </div>
                    <div class="row pt-3">
                        <div class="form-group">
                            <button type="button" id="SalvaArquivo" class="btn btn-primary"><i class="fas fa-save"></i> Carregar dados</button> <img src="~/ajax-loader.gif" hidden id="CarregaLoader" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Base de dados</h5>
                <table id="tabela" class="table table-hover table-striped table-bordered nowrap" style="width:100% !important">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Hora do Dia</th>
                            <th>Dia da Semana</th>
                            <th>Tempo</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/b-1.7.0/b-html5-1.7.0/sl-1.3.3/datatables.min.js"></script>
    <script>
        var tabela = $('#tabela').DataTable({
            dom: "<'row'<'col-sm-12'>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-6'B><'col-sm-6'p>>",
            language: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": '<img src="/ajax-loader.gif"/>',
                "sProcessing": '<img src="/ajax-loader.gif"/>',
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "&raquo;",
                    "sPrevious": "&laquo;",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            },
            buttons: [{
                extend: 'copy',
                text: '<i class="fa fa-files-o fa-lg"></i> Copiar',
                className: 'btn-primary',
                titleAttr: 'Copiar',
                exportOptions: {
                    columns: [1, 2, 3]
                }
            }, {
                extend: 'csv',
                text: '<i class="fa fa-file-excel-o fa-lg"></i> CSV',
                className: 'btn-primary',
                titleAttr: 'CSV',
                exportOptions: {
                    columns: [1, 2, 3]
                }
            }],
            lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todos"]],
            pageLength: 10,
            ajax: {
                url: "/Home/PopulaTabela/",
                dataType: "json"
            },
            columns: [
                { data: 'id', name: 'id', width: "2%" },
                { data: 'horaDoDia', name: 'HoraDoDia' },
                { data: 'diaDaSemana', name: 'DiaDaSemana' },
                { data: 'tempo', name: 'Tempo' },
            ]
        });
        $('#tabela tbody').on('click', 'tr', function () {
            var data = tabela.row(this).data();
            $("#id").val(data.id);
            var valorTotal = data.horaDoDia.split(' ');
            var valorDia = valorTotal[0].split('/');
            var novoFormato = [valorDia['2'], valorDia['1'], valorDia['0']].join('-') + 'T' + valorTotal[1];
            $("#HoraDoDia").val(novoFormato);
            $("#HoraDoDia").change();
            $("#Tempo").val(data.tempo);
        });
        $("#SalvaRegistroUnico").on("click", () => {
            if (validar("#addRegistroUnico")) {
                var disabled = $("#addRegistroUnico").find(':input:disabled').removeAttr('disabled');
                $.ajax({
                    type: "POST",
                    url: "/Home/SalvaUnicoRegistro",
                    dataType: 'json',
                    data: $("#addRegistroUnico").serialize(),
                    success: (data) => {
                        if (data.success) {
                            tabela.ajax.reload();
                            $("#addRegistroUnico").trigger("reset");
                        }
                    }
                });
                disabled.attr('disabled', 'disabled');
            }
        });
        $("#Apagar").on("click", () => {
            if ($("#id").val() != '') {

                $.ajax({
                    type: "POST",
                    url: "/Home/ApagarRegistro",
                    dataType: 'json',
                    data: { id: $("#id").val() },
                    success: function (data) {
                        if (data.success) {
                            tabela.ajax.reload();
                            $("#addRegistroUnico").trigger("reset");
                        }
                    }
                });
            }
        });
        $("#ApagarTudo").on("click", function () {
            Swal.fire({
                title: 'Tem certeza?',
                text: "Não é possivel reverter essa ação, voce pode exportar os dados clicando no botão CSV na base da tabela e limpar a base depois",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, pode apagar!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/Home/ApagarTodosRegistro",
                        dataType: 'json',
                        success: function (data) {
                            if (data.success) {
                                tabela.ajax.reload();
                                Swal.fire(
                                    'Apagado!',
                                    'A base de dados foi apagada.',
                                    'success'
                                )
                            }
                        }
                    });
                }
            })
        });
        $("#SalvaArquivo").on("click", function () {
            if (validar("#addArquivo")) {
                var addfiles = new FormData($("#addArquivo")[0]);
                $("#CarregaLoader").prop("hidden", false);
                $.ajax({
                    enctype: 'multipart/form-data',
                    data: addfiles,
                    url: "/Home/SalvaArquivo",
                    contentType: false,
                    processData: false,
                    type: "POST",
                    success: function (data) {
                        if (data.success) {
                            tabela.ajax.reload();
                            $("#addArquivo").trigger("reset");
                        }
                        $("#CarregaLoader").prop("hidden", true);
                    },
                    error: function () {
                        $("#CarregaLoader").prop("hidden", true);
                    }
                });                
            }
        });

    </script>
}
