@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>APLICATIVO QUE AUXILIA NO DESENVOLVIMENTO DO TRÂNSITO URBANO USANDO APRENDIZADO DE MAQUINA</p>
</div>
