@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>APLICATIVO QUE AUXILIA NA PREVISÃO DO TEMPO GASTO NO TRÂNSITO URBANO USANDO APRENDIZADO DE MÁQUINA</p>
</div>
