<h4>Adiciona Registros</h4>
<hr />
@{
    int.TryParse(ViewBag.Qtd.ToString(), out int qtd);
    var podeTreinar = true;
    if (qtd == 0)
    {
        podeTreinar = false;
    }
}
<div class="row">
    <div class="col-md-6" style="border-right:1px solid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Treinar Modelo</h5>
                @if (ViewBag.DataSet.ToString() != string.Empty)
                {
                    <p class="card-text" id="qtd">Existe um modelo treinado com @ViewBag.DataSet registros.</p>
                    <p> Clique <button type="button" id="abreModal" class="btn btn-sm btn-primary">aqui</button> para veficar as informações do modelo.</p>
                }
                else
                {
                    <p class="card-text">Não tem modelos treinados atualmente</p>
                }

                <button id="TreinarModel" @(podeTreinar ? null : "disabled" ) class="btn btn-primary">Treinar Modelos</button> <img src="~/ajax-loader.gif" hidden id="CarregaLoaderTreina" />
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Consumir Model</h5>
                <form id="frmConsumirModel">
                    <div class="form-group">
                        <label for="HoraDoDia" class="control-label">Hora do dia</label>
                        <input type="datetime-local" name="HoraDoDia" id="HoraDoDia" class="form-control" required />
                        <input type="text" name="id" id="id" hidden />
                    </div>
                    <div class="form-group">
                        <label for="DiaDaSemana" class="control-label">Dia da Semana</label>
                        <input name="DiaDaSemana" id="DiaDaSemana" type="text" disabled class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Tempo" class="control-label">Tempo Previsto</label>
                        <input disabled name="Tempo" id="Tempo" type="number" min="0" class="form-control" />
                    </div>
                    <div class="row pt-3">
                        <div class="form-group mr-2">
                            <button type="button" style="float: left;" name="ConsumirModel" id="ConsumirModel" class="btn btn-primary"><i class="fas fa-rocket"></i> Consumir</button> <img src="~/ajax-loader.gif" hidden id="CarregaLoaderConsumir" />
                            <button type="reset" style="float: right;" value="Limpar" class="btn btn-warning"><i class="fas fa-undo"></i> Limpar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalInfoTreinamento" aria-labelledby="ModalInfoTreinamento" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Informações do Treinamento</h5>
                </div>
                <div class="modal-body">
                    <div id="Aplicatexto"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        preencheModal();
        function preencheModal() {
            var texto = '@(ViewBag.TreinarModel)';
            if (texto != '')
                $("#Aplicatexto").html(convertText(texto));
        }
        function convertText(texto) {
            var resultado = texto.split('#');
            var final = "";
            for (let index = 0; index < resultado.length; index++) {
                final += '<p>' + resultado[index] + "</p>";
            }
            return final;
        }
        $("#TreinarModel").on("click", function () {
            $("#CarregaLoaderTreina").prop("hidden", false);
            $.ajax({
                type: "POST",
                url: "/Home/TreinarModel",
                dataType: 'json',
                success: (data) => {
                    if (data.success) {
                        $("#Aplicatexto").html(convertText(data.message));
                        $("#modalInfoTreinamento").modal("show");
                        $("#CarregaLoaderTreina").prop("hidden", true);
                        var texto = "Existe um modelo treinado com " + data.qtd + " registros.";
                        $("#qtd").text(texto);
                    }
                },
                error: () => {
                    $("#CarregaLoaderTreina").prop("hidden", true);
                }
            });
        });

        $("#ConsumirModel").on("click", function () {
            if (validar("#frmConsumirModel")) {
                var disabled = $("#frmConsumirModel").find(':input:disabled').removeAttr('disabled');
                $("#CarregaLoaderConsumir").prop("hidden", false);
                $.ajax({
                    type: "POST",
                    url: "/Home/ConsumirModel",
                    dataType: 'json',
                    data: $("#frmConsumirModel").serialize(),
                    success: (data) => {
                        if (data.success) {
                            $("#Tempo").val(data.message);
                            $("#CarregaLoaderConsumir").prop("hidden", true);
                        }
                    },
                    error: () => {
                        $("#CarregaLoaderConsumir").prop("hidden", true);
                    }
                });
                disabled.attr('disabled', 'disabled');
            }
        });

        $("#abreModal").on("click", () => {
            $("#modalInfoTreinamento").modal("show");
        });
    </script>
}