<h4>Adiciona Registros</h4>
<hr />
<div class="row">
    <div class="col-md-6" id="list" style="border-right:1px solid">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Base de dados</h5>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/b-1.7.0/b-html5-1.7.0/sl-1.3.3/datatables.min.js"></script>
}