@{
    ViewData["Title"] = "Informações";
}
<h1>@ViewData["Title"]</h1>

<p>O trânsito nas áreas urbanas é um problema conhecido desde a antiguidade. 
    O trabalho proposto apresenta o protótipo de uma ferramenta utilizando conceitos de aprendizado de máquina, 
    com uma abordagem usando regressão linear com múltiplas variáveis para auxiliar no desenvolvimento do trânsito 
    urbano e prever futuros gargalos. O objetivo é desenvolver uma aplicação em ambiente desktop para sistemas 
    operacional Windows e Linux, que a partir de um conjunto de dados vai gerar os cenários futuros. O sistema 
    será desenvolvido em linguagem C#. Para conclusão do sistema será entregue o protótipo. O protótipo construído 
    permitirá a entrada de dados e gerar relatórios gerenciais com a descrição dos cenários.</p>
